%h1	You have #{Pin.all.count} Pins 

%p= link_to "Add new Pin", new_pin_path

- @pins.each do |p|
	=image_tag p.image.url(:medium)
	%h1= link_to p.title, p
	

%p= link_to "Show all titles", titles_path	

